nav {
    text-align: right;
    height: 3em;
    background-color: #000000;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-list {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #007bff;
  }
  


